<label class="{{ picker_label_class }}" for="{{ picker_prefix }}-{{ submission.pk }}">{{ picker_label }}</label>
<input
    id="{{ picker_prefix }}-{{ submission.pk }}"
    class="form-control"
    name="corrected_paper_id"
    value="{{ picker_value }}"
    autocomplete="off"
    data-cfm-paper-picker="true"
    data-picker-url="{% url 'submissions:paper_picker_search' %}"
    data-picker-context="master"
    data-picker-value-field="paper_id"
    data-picker-placeholder="Type a Paper ID, title, or author"
    data-picker-summary-target="{{ picker_prefix }}-summary-{{ submission.pk }}"
    {% if picker_dropdown_parent %}data-picker-dropdown-parent="{{ picker_dropdown_parent }}"{% endif %}
>
<div
    id="{{ picker_prefix }}-summary-{{ submission.pk }}"
    class="cfm-paper-picker-summary"
    hidden
></div>
